body {
    background-size: cover;
    background-position: center; 
    font-family: 'Dancing Script', cursive;
}
.heading
{
font-size: 40px;
width: 100%;
margin: 0px;
font-family: 'Dancing Script', cursive;

}

#status,#numberOfObjects
{
font-size: 30px;
font-family: 'Dancing Script', cursive;
}
canvas{
    box-shadow: 5px 5px 5px #ffffff;
    border-radius: 20px ;
    border-color: #000000;
    border-width: 5px;
    border-style: solid;
    margin-top: 30px;
}

